# Object files
*.o
*.ko
*.obj
*.elf
build/

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.gba
*.sav

# Debug files
*.dSYM/
*.su

# Visual Studio Project
.vs
*.vcxproj.user
*.VC.db
*.DotSettings.user

vs2015/Debug
vs2015/Release
*.args.json

# PyCharm 
tools/.idea

# My WIP files
theme_v2/
tasks.txt
memory_map.txt
